.navigation-container {
  display: flex;
  align-items: stretch;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  flex: 1;
  height: 100vh;

  .logo-image {
    text-align: center;
    align-self: center;
    width: 130px;
  }
}
